@model Teacher
@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Create</h4>

                <form class="forms-sample" method="post">
                    <div class="form-group">
                        <label asp-for="Photo"></label>
                        <input asp-for="Photo" accept="image/*" class="form-control">
                        <span class="text-danger" asp-validation-for="Photo"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="form-control" placeholder="Name">
                        <span class="text-danger" asp-validation-for="Name"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Position"></label>
                        <input asp-for="Position" class="form-control" id="editor" placeholder="Name">
                        <span class="text-danger" asp-validation-for="Name"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TeacherDetails.AboutMe">About Me</label>
                        @*<input asp-for="TeacherDetails.AboutMe" class="form-control" id="exampleInputName1" placeholder="Name">*@
                        <span class="text-danger" asp-validation-for="TeacherDetails.AboutMe"></span>
                        <textarea asp-for="TeacherDetails.AboutMe"></textarea>
                    </div>
                    <div class="form-group">
                        <input asp-for="TeacherDetails.Degree" class="form-control">
                        <span class="text-danger" asp-validation-for="TeacherDetails.Degree"></span>

                        <label asp-for="TeacherDetails.Degree">Degree</label>
                    </div>
                    <div class="form-group">
                        <label asp-for="TeacherDetails.Experience">Experience</label>
                        <input asp-for="TeacherDetails.Experience" class="form-control">
                        <span class="text-danger" asp-validation-for="TeacherDetails.Experience"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TeacherDetails.Hobbies">Hobbies</label>
                        <input asp-for="TeacherDetails.Hobbies" class="form-control">
                        <span class="text-danger" asp-validation-for="TeacherDetails.Hobbies"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TeacherDetails.Faculty">Faculty</label>
                        <input asp-for="TeacherDetails.Faculty" class="form-control">
                        <span class="text-danger" asp-validation-for="TeacherDetails.Faculty"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TeacherDetails.MailMe">Mail Me</label>
                        <input asp-for="TeacherDetails.MailMe" class="form-control">
                        <span class="text-danger" asp-validation-for="TeacherDetails.MailMe"></span>

                    </div>
                    <div class="form-group">
                        <label asp-for="TeacherDetails.CallMe">Call Me</label>
                        <input asp-for="TeacherDetails.CallMe" class="form-control">
                        <span class="text-danger" asp-validation-for="TeacherDetails.CallMe"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TeacherDetails.Skype">Skype</label>
                        <input asp-for="TeacherDetails.Skype" class="form-control">
                        <span class="text-danger" asp-validation-for="TeacherDetails.Skype"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TeacherDetails.Language">Language</label>
                        <input asp-for="TeacherDetails.Language" class="form-control">
                        <span class="text-danger" asp-validation-for="TeacherDetails.Language"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TeacherDetails.TeamLeader">Team leader</label>
                        <input asp-for="TeacherDetails.TeamLeader" class="form-control">
                        <span class="text-danger" asp-validation-for="TeacherDetails.TeamLeader"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TeacherDetails.Development">Development</label>
                        <input asp-for="TeacherDetails.Development" class="form-control">
                        <span class="text-danger" asp-validation-for="TeacherDetails.Development"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TeacherDetails.Design">Design</label>
                        <input asp-for="TeacherDetails.Design" class="form-control">
                        <span class="text-danger" asp-validation-for="TeacherDetails.Design"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TeacherDetails.Innovation">Innovation</label>
                        <input asp-for="TeacherDetails.Innovation" class="form-control">
                        <span class="text-danger" asp-validation-for="TeacherDetails.Innovation"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TeacherDetails.Communication">Communication</label>
                        <input asp-for="TeacherDetails.Communication" class="form-control">
                        <span class="text-danger" asp-validation-for="TeacherDetails.Communication"></span>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <a class="btn btn-light" asp-action="Index">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
@section Script
{

    <partial name="_ValidationPartial" />
    <script src="https://cdn.ckeditor.com/ckeditor5/27.0.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor.create(document.querySelector('#editor')).catch(error => { console.error(error); });

        /*ClassicEditor.create(document.querySelector('#Name')).catch(error => { console.error(error); });*/
    </script>
}